body {
    background-color: darkgray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif
}

h1 {
    background-color: #668041;
    border-radius: 80px;
    width: auto;
    text-align: center;
    font-size: 50px;
}

ul {
    text-align: center;
}

#menu {
    text-decoration: none;
    color: black;
}

h4 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ingredients {
    text-align: left;
    border-color: black;
}